/************************************
*          Estilos Genéricos        *
*************************************/

.modal-title h5{
    margin:0;
    padding:0
}

.modal-title span {
    cursor: pointer;
    font-size: 1.5rem;
}

.modal-title {
    color: #fff;
    padding: 15px;
    background-color: #073d58;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-content select {
    margin-top: 5px;
    border: 1px solid;
}

.modal-footer {
    display: flex;
    height: 65px !important;
    align-items: center;
    justify-content: center;
    padding-right: 24px !important;
}

.modal label {
    font-size: 1.5rem;
}

.modal {
    width: 30rem !important;
    top: 35% !important;
    overflow: hidden;
    min-height: 100px;
    max-height: 320px;
    outline: none;
}

/************************************
*       Estilos Modal Alert         *
*************************************/

#modalAlert i {
    margin-right: 2px;
    font-size: 5rem;
}

#modalAlert .modal-content {
    width: 100%;
    height: 120px;
    display: flex;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 24px 2px !important;
}

#modalAlert .modal-footer {
  text-align: center;
}

/************************************
*        Estilos Modal Filter       *
*************************************/

#modalFilter .modal-content {
    padding-bottom:20px !important;
}

/************************************
*          Estilos Loader           *
*************************************/

.modalLoader{
    padding: 40px;
    text-align: center;
    top: 30% !important;
    width: 10rem !important;
    max-width: 10rem !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
}

/************************************
*           Media Queries           *
*************************************/

@media (max-width: 1400px) {
    #modalAlert {
        width: 25rem !important;
    }
}

@media (max-width: 420px) {
    .modal {
        width: 25rem !important;
    }
}

@media (max-width: 360px) {
    .modal {
        width: 21.5rem !important;
    }
}
